.cabecalho{
    background-color:#A418E7;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 28px;
    padding: 0;
}

.alura-imagem{
    width: 10%;
    justify-content: center;
}

.programa-edutech-imagem{
    width: 12%;
    justify-content: center;
}

.cat-imagem{
    width: 10%;
    justify-content: center;
}

.EDUTECH{
    background-image:linear-gradient(#A418E7,#D5ACE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.edutech-titulo{
    padding: 24px 0;
}

.alura-titulo{
    padding: 24px 0;
}

.scratch-titulo{
    padding: 24px 0;
}